*{
  margin: 0;
}

body{
    font-family: arial;
    background-image: url(Images/Background_HomePage.jpg);
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

div.main{
  width: 100%;
}

div.QuiSuisJe{
  margin-right: auto;
  margin-left: auto;
  width: 210px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.477);
  position: relative;
  top: 10px;
  background-image: url(Images/Nacer_Image.png);
  animation: Changement_Image 5s 1;
  background-size: cover;
  border-style: solid;
  border-width: 10px;
  border-color:  #E8AD88;
}

@keyframes Changement_Image {
  0%{
      background-image: url("Images/Qui_suis_je.png");
  }
  25%{
      background-image: url("Images/Qui_suis_je.png");
  }
  100%{
      background-image: url("Images/Nacer_Image.png");
  }
}

p{
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

div.download{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-image: url("Images/download.png");
  background-size: cover;
}

div.download:hover{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  background-image: url("Images/download_hover.png");
  background-size: cover;
}
